.cardcover{
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 800;
    border-radius: 4px;
}
.cardhover:hover > .cardcover{
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    background-color: rgba(0, 0, 0,0.8);
    border-radius: 4px;
}



.imgs{
    height: 400px;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ee0000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #343a40;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 10px ;
    border: 1px solid #343a40;
  }